{% extends 'axfApp/base.html' %}

{% block linkscript %}
    <link type="text/css" rel="stylesheet" href="/static/car/css/car.css">
<script src="/static/car/js/car.js"></script>
{% endblock linkscript %}


{% block base %}
<div id="cart">

        <h3>购物车</h3>
        <div class="full">
            <section class="clear">
                <ul>
                    <li>收货人:xiaojiayu</li>
                    <li>电话:8008208820 <div><p><span><a href="#">修改&gt;</a></span></p></div></li>
                    <li>收货地址:宝胜北里西区28号天丰利商城</li>
                </ul>
                <div class="bill">
                    <p>闪送超市</p>
                    <a href="#">凑单专区</a>
                    <p>满100减99</p>
                </div>

                <p class="delivery">
                    <span>收货时间:</span>
                    <span>一小时送达</span>
                    <a href="#">可送达&gt;</a>
                </p>

                <p class="delivery">
                    <span>留言:</span>
                    <input type="text" placeholder="有什么特殊需求">
                </p>

                <menu>
                    <ul>
                        <!--购物车信息展示-->
                        {% for item in carList %}
                            <li class="menuList" cartid="{{item.productid}}">
                                <div class="confirm">
                                    <span id="ischose" class="single-select">
                                        {% ifequal True item.isChose %}
                                        <span>√</span>
                                        {% endifequal %}
                                    </span>
                                </div>
                                <a href="#">
                                    <img src="{{ item.productimg }}" alt="item.productname">
                                    <p>{{ item.productname }}</p>
                                    <p class="singleprice">￥{{ item.productprice }}</p>
                                </a>
                                <section>
                                    {% csrf_token %}
                                    <button class="subShopping" ga="{{item.productid}}">-</button>
                                    <span>{{ item.productnum }}</span>
                                    <button class="addShopping" ga="{{item.productid}}">+</button>
                                </section>
                            </li>
                        {% endfor %}
                        <!--购物车数据处理结束-->

                        <li class="payTheBill">
                            <div class="confirm" id="all_select">
                                <span>
                                    {%if trueFlag %}
                                        <span>√</span>
                                    {% endif %}
                                </span>
                            </div>
                            <p>
                                <span>全选</span>
                                <span>总价:</span>
                            </p>
                            <span id="ok"><a href="#">下单</a></span>
                        </li>
                    </ul>
                </menu>
            </section>
        </div>
    </div>
{% endblock base %}