{% extends 'axfApp/base.html' %}

{% block linkscript %}
    <link type="text/css" rel="stylesheet" href="/static/mine/css/mine.css">
<script src="/static/mine/js/mine.js"></script>
{% endblock linkscript %}

{% block base %}
    <div id="mine">

        <div class="fixed">
            <span class="glyphicon glyphicon-user"></span>
            <!--判断结束-->
            <p><a href="/login/">未登录</a></p>

            <p><span class="glyphicon glyphicon-fire"></span><span>等级</span></p>
                <div id="regis">
                    <a href="/register/">注册</a>
                </div>

            <p><span class="glyphicon glyphicon-heart"></span><span>收藏</span></p>

        </div>

        <div class="mine">

            <p><span>我的订单</span><a href="#">查看全部订单&gt;</a></p>

            <div id="nav">
                <ul>
                    <li>
                        <a>
                            <dl>
                                <dt><span class="glyphicon glyphicon-usd"></span>

                                <dd>待付款</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a>
                            <dl>
                                <dt><span class="glyphicon glyphicon-envelope"></span>
                                <dd>待收货</dd>
                            </dl>
                        </a>

                    </li>
                    <li>
                        <a>
                            <dl>
                                <dt><span class="glyphicon glyphicon-pencil"></span></dt>
                                <dd>待评价</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a>
                            <dl>
                                <dt><span class="glyphicon glyphicon-retweet"></span></dt>
                                <dd>退款/售后</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
            <menu>
                <ul>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-bullhorn"></span></dt>
                            <dd>积分商城</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-credit-card"></span></dt>
                            <dd>优惠券</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-import"></span></dt>
                            <dd>收货地址</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-phone-alt"></span></dt>
                            <dd>客户反馈</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-certificate"></span></dt>
                            <dd>关于我们</dd>
                        </dl>
                    </li>
                </ul>
            </menu>
            <p><a href="#">退出当前账号</a></p>

        </div>
    </div>

{% endblock base %}